<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/employee.css">
    <title>Document</title>
  </head>
  <body>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="firstname" class="form-label">First name</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          name="firstname"
        />
      </div>
      <div class="col-md-6">
        <label for="lastname" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" />
      </div>
      <div class="col-12">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" name="age" />
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" />
      </div>

      <div class="col-md-6">
        <label for="telephone" class="form-label">Telephone<label>
        <input
          type="telephone"
          class="form-control"
          id="telephone"
          name=" telephone"
        />
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/employee .js"></script>
  </body>
</html>
