<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello world</title>
  </head>
  <body>
    <h1>How are you?</h1>
    <div class="Remark">
      <p>How Pug works</p>
    </div>
    <ol class="groceries" id="shopping">
      <li>Mango</li>
      <li>Orange</li>
      <li>Grapes</li>
      <li>Jackfruit</li>
    </ol>

    <div>
      <p><a href="www.google.com"> Google</a></p>
      <img src="" alt="" class="cars" id="consumption">
    </div>

    <form action="post" name="signUp">
      <label for="email">Email</label>
      <input type="text" id="email" name="email">

      <label for="username">Your user name</label>
      <input type="text" id="username" name="username">
      
      <label for="password">Password</label>
      <input type="password" id="password" name="password">

    </form>
    <p>
      name<br>
      address
    </p>
  </body>
</html>
